.title {
    margin: 5px;
    height: 28px;
    text-align: center;
    font-size: large;
    background-color: transparent;
}

.function-title {
    margin: 5px;
    height: 20px;
    text-align: left;
    font-size: medium;
    background-color: transparent;
}

.button-set {
    margin: 5px 15px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.distort-rect {
    margin: 0px 15px;
}

.capture-photo {
    margin:0 15px
}

.btn-set {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.camara-selected {
    color:dodgerblue
}

.camara-list {
    margin: 5px
}

.camara-list-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.order {
    height: calc(100% - 38px)
}

.video-area {
    margin: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    position: relative;
}

.full-area {
    height: 100%;
    width: 100%
}

.absolute {
    position: absolute;
    left: 0;
    top: 0;
}

.relative {
    position: inherit;
}

.editor {
    padding: 5px;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.text {
    height: 500px;
    width: calc(100% - 10px);
}
.ant-btn {
    margin: 5px;
}

.ant-layout {
    display: flex!important;
    width: 100%!important;
    min-height: 100%!important;
}

.ant-tabs {
    height: 100% !important;
    width: 100% !important;
}

.ant-tabs-content {
    height: 100% !important;
    width: 100% !important;
}

.ant-tabs-content-top {
    height: 100% !important;
    width: 100% !important;
}
